.view-more-container {
  padding-left: "10px";
  padding-bottom: "40px";
}

.view-more-arrow {
  width: 45px;
}


@media screen and (max-width: 800px) {
  .view-more-container {
    display: none;
  }
}