.view-more-container {
  padding-left: "10px";
  padding-bottom: "40px";
}

.view-more-arrow {
  width: 45px;
}

.view-more-box {
  padding-left: 8px;
  padding-bottom: 3px;
}

.view-more-inner-container {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  width: 18%;
}


@media screen and (max-width: 800px) {
  .view-more-container {
    display: none;
  }
}