.body-container {
  display: flex;
  width: 100vw;
}

.site-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-left: 4px solid black;
}

.row-container {
  width: max-content
}
.cursor-pointer {
  cursor: pointer;
}

/* .hover-bottom-border {
  padding-bottom: 1px;
} */

.hover-bottom-border:hover {
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
}

.line-through {
  color: black;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.line-through::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -45%;
  left: 0;
  border-bottom: 4px solid;
}
