.no-outline {
  border: none;
  outline: none;
}

.textarea {
  height: 140px !important;
  width: 100%;
}

.project-header-save-btn {
  position: absolute;
  top: 0;
  left: 60%;
}

.project-header-delete-btn {
  position: absolute;
  top: 0;
  left: 85%;
}

.change-photo-btn {
  position: absolute;
  top: 15px;
  right: 15px
}

