.home-container {
  display: flex;
}

.site-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-left: 4px solid black;
}

.row-container {
  width: max-content
}

.home-body {
  width: 100%;
}

.white-divider15 {
  height: 15px;
  width: 100%;
}
.white-divider75 {
  height: 75px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .site-body {
    border-left: none;
  }
}