.project-header {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 75vh;
  display: flex;
}

.project-header-content {
  padding: 30px 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-header-top-container {

}

.project-title {
  font-weight:300;
  color: #BEBEBE;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.project-header-description {
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
}

.project-header-image-box {
  width: 50%;
  overflow-y: hidden;
}

.project-header-image {
  width: 100%;
}

.tech-details-container {
  display: flex;
  padding: 20px 0px;
  font-weight: 300;
  font-size: 1.1rem;
}

.areas-container {
  width: 33%;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 5px 0px;
}

.local-date-container {
  width: 33%;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.div-line {
  border-bottom: 1px solid #707070;
}

.project-header-lower-container {
  display: flex;
  padding-bottom: 40px;
}

.partnership-box {
  width: 70%;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 16px 0px
}

.partnership-text {
  padding: 5px 0px;
}

.arrow-box {
  display: flex;
  align-items: flex-end;
}

.arrow-image {
  width: 35px;
}

.date {
text-decoration: underline;
}