.clean-button {
  padding: 3px 15px;;
  margin-left: 10px;
  border: 1px black solid;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px gray;
  background-color: white;
}

.clean-button:hover {
  background-color: rgb(238, 238, 238);
}

.clean-button:disabled {
  background-color: white;
  box-shadow: none;
  border: 1px solid lightgray;
}

button > .clean-button:hover {
  background-color: blue !important;
}