.vertical-form {
  display: flex;
  flex-direction: column;
  font-family: Graphik;
}

.box-centered {
  width: 30%;
  height: 40%;
  margin: auto;
  margin-top: 10%;
  align-items: center;
}

.button {
  margin-top: 20px;
  height: 35px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.input {
  margin-bottom: 20px;
  height: 35px;
  padding-left: 5px;
}

.error-message {
  font-size: 12px;
  color: red;
}